.slick-slide > div {
    margin: 0 15px;
}

.slick-list, .slick-slider, .slick-track{
    padding: 3rem 0;
}

.center .slick-center .slides {
    transform: scale(1.3);
    z-index: 10000;
    transition: all 400ms ease-in-out;
    /* opacity: 1; */
}


/* .center .slides {
   opacity: 0.8;
} */