.slick-slide > div {
    margin: 0 15px;
}

.slick-list, .slick-slider, .slick-track{
    padding: 7rem 0;
}

.center .slick-center .slides {
    position: relative;
    transform: scale(1.7);
    z-index: 10000;
    transition: all 400ms ease-in-out;
    opacity: 1;
}


.center .slides {
   opacity: 0.5;
}

/* @media (max-width: '1000px') {
 
    .center .slides {
        opacity: 1;
     }
    
} */